.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  height: 100vh; /* Make the whole viewport height */
  padding-left: 10px; /* Add left padding for the entire app */
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white; /* Add a background color for the header */
  padding: 10px;
  width: 100%; /* Make the header take full width */
}

.App-header img {
  width: 250px;
  height: 250px;
}

.App-header h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: red;
  margin-left: 10px;
}

.red-line {
  height: 3px;
  width: 100%;
  background-color: red;
  padding: 10;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 20px;
  width: 100%; /* Make the body take full width */
}

.App-footer {
  margin-top: auto;
  background-color: white;
  padding: 10px;
  width: 100%; /* Make the footer take full width */
}

.App-footer p {
  margin: 0;
  padding-top: 10;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.App-login form {
  display: flex;
  flex-direction: row; /* Set .App-login as a row */
  align-items: flex-start; /* Align items to the left */
  padding: 20px;
  width: 100%; /* Make the login section take full width */
  align-items: space-between;
}